<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
            <add name="Projeto_AgendaC_.Properties.Settings.db_250330ConnectionString"
                connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=crud;Integrated Security=True;TrustServerCertificate=True"
                providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>

<!-- trocar a string de conexão conforme for usar em cada embiente-->

<!-- config da escola: 
    <add name="Projeto_AgendaC_.Properties.Settings.db_250330ConnectionString"
    connectionString="Data Source=172.16.255.252;Initial Catalog=db_250330;User ID=250330;Password=414097879;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True"
    providerName="System.Data.SqlClient" />
-->

<!-- config vinicius: 
    <add name="Projeto_AgendaC_.Properties.Settings.db_250330ConnectionString"
    connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=crud;Integrated Security=True;TrustServerCertificate=True"
    providerName="System.Data.SqlClient" />
-->